-- ============================================================================
-- SISTEMA DE GESTIÓN DE PROYECTOS DE SOFTWARE (SGPS)
-- Script de Poblado de Datos de Demostración: 13 Tablas
-- Requisito previo: ejecutar SGPS_crea.sql
-- El script es re-ejecutable (no duplica filas si ya existen).
--
-- SOLO PARA ENTORNOS LOCALES DE DESARROLLO Y PRUEBAS.
-- Todos los usuarios comparten la contraseña: Sgps.2026
-- Los PasswordHash/PasswordSalt se generaron con Logica.UsuarioLN
-- (PBKDF2-SHA256, 100000 iteraciones, salt de 16 bytes, hash de 32 bytes,
-- ambos en Base64). Cada usuario tiene su propio salt.
-- ============================================================================

USE SGPS_DB;
GO

-- ----------------------------------------------------------------------------
-- 1) Roles
-- ----------------------------------------------------------------------------
INSERT INTO dbo.Roles (NombreRol, Descripcion)
SELECT v.NombreRol, v.Descripcion
FROM (VALUES
    ('Administrador', 'Administra usuarios, proyectos y configuración del sistema'),
    ('ProductOwner',  'Gestiona el Product Backlog y prioriza las historias de usuario'),
    ('ScrumMaster',   'Facilita el proceso Scrum y administra los sprints'),
    ('Developer',     'Implementa historias de usuario y tareas técnicas'),
    ('QA',            'Verifica historias y reporta bugs'),
    ('Cliente',       'Consulta el avance del proyecto desde el portal de cliente')
) AS v (NombreRol, Descripcion)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Roles AS r WHERE r.NombreRol = v.NombreRol);
GO

-- ----------------------------------------------------------------------------
-- 2) Usuarios (contraseña común: Sgps.2026)
-- ----------------------------------------------------------------------------
INSERT INTO dbo.Usuarios (Nombres, Apellidos, Email, PasswordHash, PasswordSalt, EsActivo)
SELECT v.Nombres, v.Apellidos, v.Email, v.PasswordHash, v.PasswordSalt, v.EsActivo
FROM (VALUES
    ('Ana',    'Quispe',   'admin@sgps.local',    'zg/21l6KM9832IH42Qt90HmGFNl6TGo4ktJ6B4bfNuE=', '7+9J4+QfjKUBcJ8WrXRMVw==', 1),
    ('Bruno',  'Salazar',  'po@sgps.local',       '/BJbYViejHLkaebIyfuYYtQ6Kxhm7Hg0nOsKHXX2OhM=', 'PGr3dhQyBbshnRGztuSgeg==', 1),
    ('Carla',  'Mendoza',  'sm@sgps.local',       'io2s79hYFA2YHq0un7dPqJu7o/Vdfr2mepymXWgJxuM=', 'PYtJJpjNsSRyZthSiVnwlA==', 1),
    ('Diego',  'Rojas',    'dev@sgps.local',      'jV8moRmLwSf4liD1op74Wzks/kN/c7Gdra37o2urKyM=', 'k7OwB04wwXZoasSRF2IArg==', 1),
    ('Elena',  'Vargas',   'qa@sgps.local',       '+CbaE1fUlxoAtE2FXK+mx45UDPwDb03ogSTAuaWFESk=', 'IK25m7HaxGGzpyiMDbcbIg==', 1),
    ('Fabio',  'Herrera',  'cliente@sgps.local',  'X5hkZsMOpRfWjoFNC5JjpVlNw/BDRUeb6GqRVu+uIkc=', '0nTntGVfjNsIf3QDtGCMDA==', 1),
    ('Gloria', 'Paredes',  'inactivo@sgps.local', 'C4bDV06C1BgOEVH0bi42sQQksVY7YQ45Sapk0Cu3VPs=', 'EHuN2v8CFz2pKWASrc7ykA==', 0),
    ('Luis',   'Torres',   'luis.torres@sgps.local', 'DakDcE9IYc/JbcJzJsB0pt3l6qFaw/qmphMBZW41z4U=', 'gBPUAPEu+LdLBEgrYOghEA==', 1),
    ('Maria',  'Rios',     'maria.rios@sgps.local',  'gFWfGPREV0tDdw3QoW3qNolwLRPAxsWH48Xpn/Un3v4=', 'fFKEdLQQM5tSHuLZboqL/Q==', 1),
    ('Pedro',  'Castro',   'pedro.castro@sgps.local','ruzBsvINIr/kiNxemrpibRHBu9Ycxo52TEpRGE+iaJA=', 'ear7TkGeaKUfT2UEjK4Tsw==', 1)
) AS v (Nombres, Apellidos, Email, PasswordHash, PasswordSalt, EsActivo)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Usuarios AS u WHERE u.Email = v.Email);
GO

-- ----------------------------------------------------------------------------
-- 3) UsuarioRoles
-- ----------------------------------------------------------------------------
INSERT INTO dbo.UsuarioRoles (UsuarioId, RolId)
SELECT u.UsuarioId, r.RolId
FROM (VALUES
    ('admin@sgps.local',    'Administrador'),
    ('po@sgps.local',       'ProductOwner'),
    ('sm@sgps.local',       'ScrumMaster'),
    ('dev@sgps.local',      'Developer'),
    ('qa@sgps.local',       'QA'),
    ('cliente@sgps.local',  'Cliente'),
    ('luis.torres@sgps.local', 'Developer'),
    ('maria.rios@sgps.local',  'QA'),
    ('pedro.castro@sgps.local','ProductOwner')
) AS v (Email, NombreRol)
JOIN dbo.Usuarios AS u ON u.Email = v.Email
JOIN dbo.Roles AS r ON r.NombreRol = v.NombreRol
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.UsuarioRoles AS ur
    WHERE ur.UsuarioId = u.UsuarioId AND ur.RolId = r.RolId);
GO

-- ----------------------------------------------------------------------------
-- 4) Proyectos
-- ----------------------------------------------------------------------------
INSERT INTO dbo.Proyectos (ClaveProyecto, NombreProyecto, Descripcion, Metodologia, FechaInicio, FechaFinEstimada)
SELECT v.ClaveProyecto, v.NombreProyecto, v.Descripcion, v.Metodologia, v.FechaInicio, v.FechaFinEstimada
FROM (VALUES
    (N'SGPS', N'Sistema de Gestión de Proyectos de Software', N'Plataforma para gestionar proyectos Scrum: epics, historias, sprints, tareas y bugs.', N'Scrum', '2026-06-01', '2026-12-18'),
    (N'INV1', N'Sistema de Inventario de Bodega', N'Aplicación para controlar entradas, salidas y stock mínimo de productos de bodega.', N'Scrum', '2026-07-15', '2026-11-27'),
    (N'PORT', N'Portal Web Corporativo', N'Portal institucional con publicaciones, equipo y canal de contacto.', N'Kanban', '2026-08-01', '2026-10-30'),
    (N'FACT', N'Sistema de Facturación Electrónica', N'Emisión y control de comprobantes de pago electrónicos.', N'Scrum', '2026-08-20', '2026-12-15'),
    (N'RHUM', N'Gestión de Recursos Humanos', N'Administración de empleados, asistencias, permisos y vacaciones.', N'Kanban', '2026-09-01', '2027-01-30')
) AS v (ClaveProyecto, NombreProyecto, Descripcion, Metodologia, FechaInicio, FechaFinEstimada)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Proyectos AS p WHERE p.ClaveProyecto = v.ClaveProyecto);
GO

-- ----------------------------------------------------------------------------
-- 5) ProyectoMiembros
-- ----------------------------------------------------------------------------
INSERT INTO dbo.ProyectoMiembros (ProyectoId, UsuarioId, RolEnProyecto)
SELECT p.ProyectoId, u.UsuarioId, v.RolEnProyecto
FROM (VALUES
    (N'SGPS', 'po@sgps.local',     N'PO'),
    (N'SGPS', 'sm@sgps.local',     N'SM'),
    (N'SGPS', 'dev@sgps.local',    N'Developer'),
    (N'SGPS', 'qa@sgps.local',     N'QA'),
    (N'SGPS', 'luis.torres@sgps.local', N'Developer'),
    (N'SGPS', 'maria.rios@sgps.local',  N'QA'),
    (N'SGPS', 'cliente@sgps.local', N'Cliente'),
    (N'INV1', 'pedro.castro@sgps.local', N'PO'),
    (N'INV1', 'dev@sgps.local',    N'Developer'),
    (N'INV1', 'maria.rios@sgps.local',  N'QA'),
    (N'PORT', 'pedro.castro@sgps.local', N'PO'),
    (N'PORT', 'luis.torres@sgps.local',  N'Developer'),
    (N'PORT', 'cliente@sgps.local', N'Cliente')
) AS v (Clave, Email, RolEnProyecto)
JOIN dbo.Proyectos AS p ON p.ClaveProyecto = v.Clave
JOIN dbo.Usuarios AS u ON u.Email = v.Email
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.ProyectoMiembros AS pm
    WHERE pm.ProyectoId = p.ProyectoId AND pm.UsuarioId = u.UsuarioId);
GO

-- ----------------------------------------------------------------------------
-- 6) Epics
-- ----------------------------------------------------------------------------
INSERT INTO dbo.Epics (ProyectoId, Titulo, Descripcion, ColorHex)
SELECT p.ProyectoId, v.Titulo, v.Descripcion, v.ColorHex
FROM (VALUES
    (N'SGPS', N'Seguridad y Autenticación', N'Inicio de sesión, gestión de roles y permisos del sistema.', N'#2B6CB0'),
    (N'SGPS', N'Gestión de Proyectos',      N'Registro de proyectos, equipos y seguimiento general.', N'#2F855A'),
    (N'SGPS', N'Planificación Scrum',       N'Product backlog, sprints, historias y tablero Kanban.', N'#C05621'),
    (N'INV1', N'Control de Stock',          N'Registro de productos, entradas, salidas y stock mínimo.', N'#2B6CB0'),
    (N'INV1', N'Proveedores',               N'Maestro de proveedores y órdenes de reposición.', N'#2F855A'),
    (N'PORT', N'Contenido y Diseño',        N'Páginas públicas, noticias y equipo institucional.', N'#C05621')
) AS v (Clave, Titulo, Descripcion, ColorHex)
JOIN dbo.Proyectos AS p ON p.ClaveProyecto = v.Clave
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Epics AS e
    WHERE e.ProyectoId = p.ProyectoId AND e.Titulo = v.Titulo);
GO

-- ----------------------------------------------------------------------------
-- 7) Sprints
-- ----------------------------------------------------------------------------
INSERT INTO dbo.Sprints (ProyectoId, NombreSprint, SprintGoal, FechaInicio, FechaFin, Estado)
SELECT p.ProyectoId, v.NombreSprint, v.SprintGoal, v.FechaInicio, v.FechaFin, v.Estado
FROM (VALUES
    (N'SGPS', N'Sprint 1 - Base del sistema', N'Montar la estructura de la BD y el esqueleto de la aplicación.', '2026-06-08', '2026-06-26', N'Cerrado'),
    (N'SGPS', N'Sprint 2 - Seguridad',        N'Implementar autenticación, roles y permisos.', '2026-06-29', '2026-07-17', N'Cerrado'),
    (N'SGPS', N'Sprint 3 - Scrum',            N'Operar sprints, backlog priorizado y tablero Kanban.', '2026-07-20', '2026-08-07', N'Activo'),
    (N'SGPS', N'Sprint 4 - Mejoras',          N'Reportes de avance, notificaciones y pulido final.', '2026-08-10', '2026-08-28', N'Planificado'),
    (N'INV1', N'Sprint 1 - Inventario',       N'Registro de productos y control de stock.', '2026-07-20', '2026-08-07', N'Activo')
) AS v (Clave, NombreSprint, SprintGoal, FechaInicio, FechaFin, Estado)
JOIN dbo.Proyectos AS p ON p.ClaveProyecto = v.Clave
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Sprints AS s
    WHERE s.ProyectoId = p.ProyectoId AND s.NombreSprint = v.NombreSprint);
GO

-- ----------------------------------------------------------------------------
-- 8) UserStories
-- ----------------------------------------------------------------------------
INSERT INTO dbo.UserStories (
    CodigoTicket, ProyectoId, EpicId, SprintId, Titulo, ComoUsuario, QuieroFuncionalidad,
    ParaBeneficio, CriteriosAceptacionTexto, ValorNegocio, StoryPoints, Estado,
    OrdenPrioridad, UsuarioAsignadoId)
SELECT v.CodigoTicket, p.ProyectoId, e.EpicId, s.SprintId, v.Titulo, v.ComoUsuario,
       v.QuieroFuncionalidad, v.ParaBeneficio, v.CriteriosAceptacionTexto,
       v.ValorNegocio, v.StoryPoints, v.Estado, v.OrdenPrioridad, u.UsuarioId
FROM (VALUES
    (N'SGPS-101', N'SGPS', N'Seguridad y Autenticación', N'Sprint 1 - Base del sistema',
     N'Autenticación de usuarios', N'Como usuario registrado',
     N'quiero iniciar sesión con mi correo y contraseña',
     N'para acceder de forma segura a mis proyectos',
     N'Ingresar credenciales válidas accede al sistema; credenciales inválidas muestran un error.', N'Alto', 8, N'Done', 1, 'dev@sgps.local'),
    (N'SGPS-102', N'SGPS', N'Seguridad y Autenticación', N'Sprint 2 - Seguridad',
     N'Gestión de roles y permisos', N'Como administrador',
     N'quiero asignar roles a los usuarios',
     N'para controlar qué puede hacer cada uno en el sistema',
     N'Un usuario tiene al menos un rol; el menú se adapta al rol asignado.', N'Alto', 5, N'In Testing', 2, 'luis.torres@sgps.local'),
    (N'SGPS-103', N'SGPS', N'Gestión de Proyectos', NULL,
     N'Registro de proyectos', N'Como product owner',
     N'quiero crear proyectos con clave única y fechas',
     N'para organizar las iniciativas del equipo',
     N'La clave es obligatoria y única; las fechas se validan.', N'Alto', 3, N'To Do', 3, 'pedro.castro@sgps.local'),
    (N'SGPS-104', N'SGPS', N'Planificación Scrum', N'Sprint 3 - Scrum',
     N'Planear sprints', N'Como scrum master',
     N'quiero crear sprints y asignarles historias del backlog',
     N'para comprometer el trabajo del equipo por iteración',
     N'Un sprint tiene fechas y estado; las historias se mueven entre backlog y sprint.', N'Alto', 8, N'In Progress', 4, 'luis.torres@sgps.local'),
    (N'SGPS-105', N'SGPS', N'Planificación Scrum', N'Sprint 3 - Scrum',
     N'Tablero Kanban', N'Como miembro del equipo',
     N'quiero mover historias y tareas entre columnas de estado',
     N'para reflejar el avance en tiempo real',
     N'Las columnas son To Do, In Progress, In Testing y Done; el historial queda registrado.', N'Medio', 5, N'In Progress', 5, 'dev@sgps.local'),
    (N'SGPS-106', N'SGPS', N'Planificación Scrum', NULL,
     N'Priorizar el product backlog', N'Como product owner',
     N'quiero reordenar las historias por prioridad',
     N'para que el equipo trabaje lo más valioso primero',
     N'El orden se conserva y el backlog se muestra priorizado.', N'Medio', 3, N'To Do', 6, NULL),
    (N'SGPS-107', N'SGPS', N'Gestión de Proyectos', N'Sprint 4 - Mejoras',
     N'Reportes de avance', N'Como cliente',
     N'quiero ver reportes del avance del proyecto',
     N'para conocer el estado real del entregable',
     N'El reporte muestra historias completadas y puntos restantes.', N'Medio', 5, N'To Do', 7, NULL),
    (N'SGPS-108', N'SGPS', N'Gestión de Proyectos', NULL,
     N'Gestión de equipos', N'Como administrador',
     N'quiero asignar miembros a cada proyecto con un rol',
     N'para armar los equipos de trabajo',
     N'Solo miembros activos pueden asignarse; un miembro no se duplica.', N'Bajo', 3, N'To Do', 8, NULL),
    (N'INV-101', N'INV1', N'Control de Stock', N'Sprint 1 - Inventario',
     N'Registro de productos', N'Como encargado de bodega',
     N'quiero registrar productos con stock inicial',
     N'para controlar la mercadería de la bodega',
     N'El producto queda registrado con código y cantidad inicial.', N'Alto', 5, N'In Progress', 1, 'dev@sgps.local'),
    (N'INV-102', N'INV1', N'Control de Stock', NULL,
     N'Alertas de stock mínimo', N'Como encargado de bodega',
     N'quiero recibir alertas cuando un producto baja del mínimo',
     N'para reponer a tiempo la mercadería',
     N'La alerta se genera cuando el stock es menor al mínimo configurado.', N'Medio', 3, N'To Do', 2, 'maria.rios@sgps.local'),
    (N'POR-101', N'PORT', N'Contenido y Diseño', NULL,
     N'Landing corporativa', N'Como visitante',
     N'quiero ver la página principal con la información institucional',
     N'para conocer la organización y sus servicios',
     N'La página muestra misión, visión y noticias recientes.', N'Medio', 5, N'To Do', 1, 'luis.torres@sgps.local')
) AS v (CodigoTicket, Clave, EpicTitulo, SprintNombre, Titulo, ComoUsuario, QuieroFuncionalidad,
        ParaBeneficio, CriteriosAceptacionTexto, ValorNegocio, StoryPoints, Estado,
        OrdenPrioridad, EmailAsignado)
JOIN dbo.Proyectos AS p ON p.ClaveProyecto = v.Clave
LEFT JOIN dbo.Epics AS e ON e.ProyectoId = p.ProyectoId AND e.Titulo = v.EpicTitulo
LEFT JOIN dbo.Sprints AS s ON s.ProyectoId = p.ProyectoId AND s.NombreSprint = v.SprintNombre
LEFT JOIN dbo.Usuarios AS u ON u.Email = v.EmailAsignado
WHERE NOT EXISTS (SELECT 1 FROM dbo.UserStories AS us WHERE us.CodigoTicket = v.CodigoTicket);
GO

-- ----------------------------------------------------------------------------
-- 9) Tareas
-- ----------------------------------------------------------------------------
INSERT INTO dbo.Tareas (UserStoryId, TituloTarea, HorasEstimadas, HorasTrabajadas, Estado, UsuarioAsignadoId)
SELECT us.UserStoryId, v.TituloTarea, v.HorasEstimadas, v.HorasTrabajadas, v.Estado, u.UsuarioId
FROM (VALUES
    (N'SGPS-101', N'Diseñar esquema de la tabla Usuarios', 4.00, 4.00, N'Completado', 'dev@sgps.local'),
    (N'SGPS-101', N'Implementar login con PBKDF2',         8.00, 8.00, N'Completado', 'dev@sgps.local'),
    (N'SGPS-102', N'CRUD de roles y asignación',           6.00, 5.00, N'En Proceso', 'luis.torres@sgps.local'),
    (N'SGPS-104', N'Crear y editar sprints',               8.00, 4.00, N'En Proceso', 'luis.torres@sgps.local'),
    (N'SGPS-104', N'Asignar historias al sprint',          4.00, 0.00, N'Pendiente',  NULL),
    (N'SGPS-105', N'Columnas del tablero Kanban',          5.00, 3.00, N'En Proceso', 'dev@sgps.local'),
    (N'SGPS-105', N'Registrar historial de cambios',       3.00, 0.00, N'Pendiente',  'dev@sgps.local'),
    (N'INV-101',  N'CRUD de productos',                    6.00, 6.00, N'Completado', 'dev@sgps.local'),
    (N'INV-101',  N'Validación de cantidades',             3.00, 1.00, N'En Proceso', 'maria.rios@sgps.local')
) AS v (CodigoTicket, TituloTarea, HorasEstimadas, HorasTrabajadas, Estado, EmailAsignado)
JOIN dbo.UserStories AS us ON us.CodigoTicket = v.CodigoTicket
LEFT JOIN dbo.Usuarios AS u ON u.Email = v.EmailAsignado
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Tareas AS t
    WHERE t.UserStoryId = us.UserStoryId AND t.TituloTarea = v.TituloTarea);
GO

-- ----------------------------------------------------------------------------
-- 10) Bugs
-- ----------------------------------------------------------------------------
INSERT INTO dbo.Bugs (CodigoBug, UserStoryId, ProyectoId, Titulo, PasosReproducir, Severidad, Estado, UsuarioReportaId, UsuarioAsignadoId)
SELECT v.CodigoBug, us.UserStoryId, p.ProyectoId, v.Titulo, v.PasosReproducir, v.Severidad, v.Estado, rep.UsuarioId, asig.UsuarioId
FROM (VALUES
    (N'BUG-SGPS-01', N'SGPS-102', N'SGPS', N'El login no rechaza cuentas inactivas',
     N'1. Desactivar un usuario. 2. Intentar iniciar sesión con su correo. 3. El sistema permite el acceso.',
     N'Media', N'En Proceso', 'qa@sgps.local', 'dev@sgps.local'),
    (N'BUG-SGPS-02', N'SGPS-104', N'SGPS', N'La burndown no recalcula al mover historias',
     N'1. Abrir el sprint activo. 2. Mover una historia a Done. 3. El gráfico no actualiza los puntos restantes.',
     N'Alta', N'Nuevo', 'sm@sgps.local', 'luis.torres@sgps.local'),
    (N'BUG-INV-01', N'INV-101', N'INV1', N'El stock queda negativo al registrar salida',
     N'1. Registrar una salida mayor al stock. 2. El sistema graba la salida y deja el stock en negativo.',
     N'Bloqueante', N'Nuevo', 'maria.rios@sgps.local', 'dev@sgps.local'),
    (N'BUG-SGPS-03', N'SGPS-105', N'SGPS', N'El tablero no guarda el orden al arrastrar tarjetas',
     N'1. Arrastrar una tarjeta a otra columna. 2. Recargar la página. 3. La tarjeta vuelve a su posición original.',
     N'Media', N'Resuelto', 'dev@sgps.local', 'luis.torres@sgps.local'),
    (N'BUG-POR-01', N'POR-101', N'PORT', N'El formulario de contacto no valida el correo',
     N'1. Abrir el portal. 2. Escribir un correo inválido. 3. El formulario se envía igualmente.',
     N'Alta', N'Cerrado', 'cliente@sgps.local', 'luis.torres@sgps.local')
) AS v (CodigoBug, CodigoTicket, Clave, Titulo, PasosReproducir, Severidad, Estado, EmailReporta, EmailAsignado)
LEFT JOIN dbo.UserStories AS us ON us.CodigoTicket = v.CodigoTicket
JOIN dbo.Proyectos AS p ON p.ClaveProyecto = v.Clave
JOIN dbo.Usuarios AS rep ON rep.Email = v.EmailReporta
LEFT JOIN dbo.Usuarios AS asig ON asig.Email = v.EmailAsignado
WHERE NOT EXISTS (SELECT 1 FROM dbo.Bugs AS b WHERE b.CodigoBug = v.CodigoBug);
GO

-- ----------------------------------------------------------------------------
-- 11) Comentarios
-- ----------------------------------------------------------------------------
INSERT INTO dbo.Comentarios (UserStoryId, UsuarioId, TextoComentario)
SELECT us.UserStoryId, u.UsuarioId, v.TextoComentario
FROM (VALUES
    (N'SGPS-102', 'qa@sgps.local',     N'Falta cubrir el caso de usuario inactivo en las pruebas.'),
    (N'SGPS-105', 'sm@sgps.local',     N'Las columnas deben actualizar el historial automáticamente.'),
    (N'INV-101',  'maria.rios@sgps.local', N'Revisar que la validación de cantidades aplique en bodega.'),
    (N'SGPS-101', 'dev@sgps.local',     N'Login probado con credenciales válidas e inválidas.'),
    (N'POR-101',  'luis.torres@sgps.local', N'La landing debe verse bien en móviles.')
) AS v (CodigoTicket, Email, TextoComentario)
JOIN dbo.UserStories AS us ON us.CodigoTicket = v.CodigoTicket
JOIN dbo.Usuarios AS u ON u.Email = v.Email
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Comentarios AS c
    WHERE c.UserStoryId = us.UserStoryId AND c.UsuarioId = u.UsuarioId AND c.TextoComentario = v.TextoComentario);
GO

-- ----------------------------------------------------------------------------
-- 12) Notificaciones
-- ----------------------------------------------------------------------------
INSERT INTO dbo.Notificaciones (UsuarioId, UserStoryId, Titulo, Mensaje, Leido)
SELECT u.UsuarioId, us.UserStoryId, v.Titulo, v.Mensaje, v.Leido
FROM (VALUES
    ('admin@sgps.local', N'SGPS-102', N'Historia en pruebas',     N'La historia SGPS-102 pasó a estado In Testing.', 0),
    ('po@sgps.local', N'SGPS-104', N'Sprint iniciado',         N'El Sprint 3 - Scrum comenzó el 20/07/2026.', 0),
    ('dev@sgps.local',  N'SGPS-105', N'Tarea asignada',          N'Se te asignó la tarea de columnas del tablero.', 0),
    ('luis.torres@sgps.local', N'SGPS-104', N'Tarea asignada',    N'Se te asignó la tarea de crear y editar sprints.', 1),
    ('cliente@sgps.local', N'POR-101', N'Nueva historia',        N'Se creó la historia POR-101 en el portal corporativo.', 0)
) AS v (Email, CodigoTicket, Titulo, Mensaje, Leido)
JOIN dbo.Usuarios AS u ON u.Email = v.Email
LEFT JOIN dbo.UserStories AS us ON us.CodigoTicket = v.CodigoTicket
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.Notificaciones AS n
    WHERE n.UsuarioId = u.UsuarioId AND n.Titulo = v.Titulo AND n.Mensaje = v.Mensaje);
GO

-- ----------------------------------------------------------------------------
-- 13) HistorialCambios
-- ----------------------------------------------------------------------------
INSERT INTO dbo.HistorialCambios (Entidad, EntidadId, CampoModificado, ValorAnterior, ValorNuevo, UsuarioId)
SELECT v.Entidad,
       COALESCE(us.UserStoryId, sp.SprintId, p.ProyectoId),
       v.CampoModificado, v.ValorAnterior, v.ValorNuevo, u.UsuarioId
FROM (VALUES
    (N'UserStory', N'SGPS-101', N'Estado',     N'To Do',        N'Done',          'dev@sgps.local'),
    (N'UserStory', N'SGPS-102', N'Estado',     N'To Do',        N'In Testing',    'sm@sgps.local'),
    (N'Sprint',    N'Sprint 3 - Scrum', N'Estado', N'Planificado', N'Activo',     'sm@sgps.local'),
    (N'Proyecto',  N'SGPS',     N'Descripcion', NULL,           N'Versión inicial de la plataforma.', 'po@sgps.local'),
    (N'UserStory', N'SGPS-105', N'Estado',      N'To Do',        N'In Progress',   'dev@sgps.local')
) AS v (Entidad, Clave, CampoModificado, ValorAnterior, ValorNuevo, Email)
LEFT JOIN dbo.UserStories AS us ON v.Entidad = N'UserStory' AND us.CodigoTicket = v.Clave
LEFT JOIN dbo.Sprints AS sp ON v.Entidad = N'Sprint' AND sp.NombreSprint = v.Clave
LEFT JOIN dbo.Proyectos AS p ON v.Entidad = N'Proyecto' AND p.ClaveProyecto = v.Clave
JOIN dbo.Usuarios AS u ON u.Email = v.Email
WHERE NOT EXISTS (
    SELECT 1 FROM dbo.HistorialCambios AS h
    WHERE h.Entidad = v.Entidad AND h.EntidadId = COALESCE(us.UserStoryId, sp.SprintId, p.ProyectoId)
      AND h.CampoModificado = v.CampoModificado);
GO