<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SGPS_Connection"
         connectionString="Data Source=sirio\sqlexpress;Initial Catalog=SGPS_DB;User ID=sa;Password=X2nR#576Wd£0;Integrated Security=false;TrustServerCertificate=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
