<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SGPS_Connection"
         connectionString="Data Source=localhost;Initial Catalog=SGPS_DB;Integrated Security=True;TrustServerCertificate=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
