<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SGPS_Connection"
         connectionString="Data Source=LC201\SQLEXPRESS;Initial Catalog=SGPS_DB;User ID=sa;Password=epici;Integrated Security=false;TrustServerCertificate=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
